[user]
	name = nils-degroot
	email = nils@peeko.nl

[pull]
	rebase = true

[push]
	autoSetupRemote = true


[init]
	defaultBranch = main

[diff]
	external = difft

[rerere]
	enabled = true

[help]
	autocorrect = 2
[advice]
	addEmptyPathspec = false
