$bg: rgba(28, 27, 25, 0.8);
$fg: #fce8c3;
$border: #303030;

$bright-magneta: #ff5c8f;
$bright-cyan: #2be4d0;
$bright-blue: #68a8e4;

$uptime-icon-color: #2c78bf;
$player-icon-color: $bright-blue;

* {
	all: unset;
	font-family: "DepartureMono Nerd Font";
    color: $fg;
}

.window {
    background: $bg;
    border-radius: 3;
}

.icon {
    font-size: 48px;
}

.text-lg {
    font-size: 24px;
}

.text-magenta {
    color: $bright-magneta
}

.text-cyan {
    color: $bright-cyan
}

.text-blue {
    color: $bright-blue
}

.icon-uptime {
    color: $uptime-icon-color;
}

.icon-player {
    color: $player-icon-color;
}

.progress {
    background-color: $border;
}

.progress > * {
    color: $fg;
}
